<%= render 'shared/flash' %>
<!--左のメニューです（ここに自分の名前やらサムネなど入る予定です）-->
  <div class="container">
          <h1>アカウント設定</h1>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1  col-sm-4  col-md-3  col-lg-2 lmenu">
        <!--サムネイル画像-->
        <div class="thumbnailimg"><%= picture_for @user %></div>
        <!--ユーザーの名前-->
        <div class="username"> <%= current_user.name %></div>
        <!--ユーザーのID-->
        <div class="userid">   @<%= current_user.user_id %></div>
      </div>

      <div class="col-xs-10 col-xs-offset-1  col-sm-6 col-sm-offset-1   col-md-6 col-md-offset-1  col-lg-6 col-lg-offset-1 rmenu">
        <%= render 'shared/edit' %>
        <br><br>
        <%= form_for current_user,method: :delete,data: { confirm: "本当に退会しますか？" } do |f| %>
          <%= f.submit "退会する" %>
        <% end %>
      </div>
    </div>
  </div>