<li id="micropost-<%= micropost.id %>">
　<%= picture_for micropost.user %>
  <span class="user"><%= link_to micropost.user.name, 'users/' + micropost.user.user_id, :class => "user" %></span>
  <span class="content">
    <%= micropost.content %>
    <%= link_to micropost.picture.url, target: "menuimg" do %>
    <%= image_tag micropost.picture.url, width: "100", height: "100" if micropost.picture? %>
    <% end %>
  </span>

<%= micropost.likers.count %>like


  <span class="timestamp">
      <% if current_user?(micropost.user) %>
      <%= link_to "favorite", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
                                        
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "本当に削除しますか？" } %>
      <% else %>
      <% @micropost = micropost %>
      <%= render 'users/like_form' if logged_in? %>
    <% end %>
  </span>
</li>