<li id="micropost-<%= micropost.id %>">
　<%= picture_for micropost.user %>
  <% if request.path_info == '/' || request.path_info == '/users' %>
  <span class="user"><%= link_to micropost.user.name, 'users/' + micropost.user.user_id, :class => "user" %></span>
  <% else %>
  <span class="user"><%= link_to micropost.user.name, micropost.user.user_id, :class => "user" %></span>
  <% end %>
  <span class="content">
    <%= text_url_to_link(h(micropost.content)).html_safe %>
    <%= link_to micropost.picture.url, target: "menuimg" do %>
    <%= image_tag micropost.picture.url, width: "100", height: "100" if micropost.picture? %>
    <% end %>
  </span>

<%= micropost.likers.count %>like


  <span class="timestamp">
      <% @micropost = micropost %>
      <%= render 'users/like_form' if logged_in? %>
      <% if current_user?(micropost.user) %>
                                        
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "本当に削除しますか？" } %>
    <% end %>
  </span>
</li>