<% micropost =  Micropost.find_by(id: @item) %>
<% unless micropost.nil? %>
<li id="micropost-<%= micropost.id %>">
　<%= picture_for micropost.user %>
  <% if request.path_info == '/' || request.path_info == '/users' %>
  <span class="user"><%= link_to micropost.user.name, 'users/' + micropost.user.user_id, :class => "user" %></span>
  <% else %>
  <span class="user"><%= link_to micropost.user.name, micropost.user.user_id, :class => "user" %></span>
  <% end %>
  <span class="content">
    <%= text_url_to_link(h(micropost.content)).html_safe %>
    <%= link_to micropost.picture.url, target: "menuimg" do %>
    <%= image_tag micropost.picture.url, width: "100", height: "100" if micropost.picture? %>
    <% end %>
  </span>

  <span class="timestamp">
      <% @micropost = micropost %>
      <!--<div class="balloonoya">
        <span class="balloon">吹き出しが表示される</span>-->
        <div class="favoritebtn"><%= render 'users/like_form' if logged_in? %></div>
        <div class="favoritecount"><%= micropost.likers.count %></div>
      <!--</div>-->
      <% if current_user?(micropost.user) || current_user.admin? %>
                                        
      <div class="delete"><%= link_to "", micropost, method: :delete,
                                       data: { confirm: "本当に削除しますか？" }, class: "glyphicon glyphicon-trash", :style=>"color:black;"  %>
      </div>
    <% end %>
  </span>
</li>
<% end %>