<!DOCTYPE html>
<html>
  <head>
    <title>Monolog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    
    <!--スマホ対応-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

  </head>

  <body>
    <div id="wrapper">
      <!--ヘッダー（上のトップバー、タイムラインと通知を表示します）-->
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gnavi">
          <span class="sr-only">メニュー</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    
      <div class="container">
        <div class="row">
            <div id="gnavi" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><%= link_to " HOME",root_url, class: "glyphicon glyphicon-home" %></li>

                <% if logged_in? %>

                <% if logged_in? %>
                  <% unless current_user.time.nil? %>
                    <% time = current_user.time %>
                  <% else %>
                    <% time = current_user.created_at %>
                  <% end %>
                  <% micros = current_user.microposts %>
                  <% @like_id = Array.new %>
                  <% micros.each do |micro| %>
                    <% @like_id << micro.passive_likes.ids unless micro.passive_likes.map(&:id) == [] %>
                  <% end %>
                  <% @like_id.flatten! %>
                  <% p @like_id %>
                  <% likes = Like.where("id IN(?) AND created_at >= ?",@like_id,time) %>
                  <% p likes %>
                  <% unless likes == [] %>
                    <% cnt = likes.count %>
                    <li><%= link_to " BELL(#{cnt})",bell_path, class: "glyphicon glyphicon-bell", style: "color: red" %></li>
                  <% else %>
                    <li><%= link_to " BELL",bell_path, class: "glyphicon glyphicon-bell" %></li>
                  <% end %>
                <% else %>
                  <li><%= link_to " BELL",bell_path, class: "glyphicon glyphicon-bell" %></li>
                <% end %>

                <li><%= link_to " EDIT", edit_path, class: "glyphicon glyphicon-wrench" %></li> 
                <li><%= link_to " LOGOUT", logout_path, class: "glyphicon glyphicon-log-out", method: :delete %></li>
              <% end %>
              </ul>
          </div>
        </div>
      </div>
    </nav>
    <div id="wrapper">
    <%= yield %>
    </div>
  </body>
</html>